@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
.qc_woo_free_admin {
	margin: 0 0 0 0;
	padding: 10px 20px;
	background: #222;
	color: #fff;
	border-radius: 5px;
	max-width: 100%;
	font-size:16px;	

}

.qc_woo_free_admin p{

		font-size:16px;
}


.qc_woo_free_admin h1 {
	margin: 0;
	padding: 20px 0 25px 0;
	color: #fff;
}
.qc_woo_free_admin_left {
	margin: 0;
	padding: 0;
	float: left;
	width: 65%;
}
.qc_woo_free_admin_right {
	margin: 0 0;
	padding: 15px 15px;
	float: right;
	width: 29%;
	background: #fff;
	border-radius: 3px;
}
.qc_woo_free_admin .updated, .qc_woo_free_admin .notice {
	margin: 5px 0 28px 0;
	color: #222;
}
.qc_woo_free_admin input,
.qc_woo_free_admin select {
	display: block;
	width: 100%;
	margin: 15px 0 0 0;
	padding: 8px 8px;
}
.qc_woo_free_admin textarea {
	padding: 4px;
	width: 100%;
}
.qc_woo_free_admin input[type="number"] {
	height: 36px;
}
.qc_woo_free_admin ul.radio-list li input {
	margin: 0;
	padding: 0;
	display: inline-block;
	width: auto;
}
.qc_woo_free_admin a.up_pro {
}
.qc_woo_free_admin input.submit-button {
	border: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	margin: 18px 0 15px 0;
	padding: 12px 0;
	font-size: 18px;
	letter-spacing: 1px;
	cursor: pointer;
	background: #0073aa;
	color: #fff;
}
.qc_woo_free_admin input.submit-button:hover {
	color: #222;
	background: #fff;
}
.qc_woo_free_admin_right h2 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: bold;
}
.qc_woo_free_admin_right ul {
	margin: 15px 0;
	padding: 0;
}
.qc_woo_free_admin_right ul li {
	margin: 0;
	padding: 6px 0;
	display: inline-block;
	width: 100%;
	font-size: 14px;
	color: #222;
}
.qc_woo_free_admin_right ul li:before {
	content: "\f046";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	color: #0073aa;
	margin: 0 8px 0 0;
	    background: #162236;
    padding: 8px;
}
.qc_woo_free_admin_right a.upgrade_btn {
	background: #222;
	display: block;
	color: #fff;
	text-decoration: navajowhite;
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 10px 0;
}
.qc_woo_free_admin_right a.upgrade_btn:hover {
	background: #fff;
	color: #18223c;
}
.copy_right_box {
	color: #222;
	margin: 20px 0 0 0;
	line-height: 24px;
}
.copy_right_box a {
	color: #0073aa;
	font-weight: bold;
	text-decoration: none;
}

.qcld-woo-shortcode-code {
    width: 150px !important;
    height: auto !important;
    padding: 3px 5px!important;
    margin: 0px!important;
    line-height: 18px!important;
    background: #f5f5f5!important;
    border: 1px solid #ddd!important;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07) !important;
    display: inline-block !important;
}

.qcld-woo-shortcode-code {
    width: 150px !important;
    height: auto !important;
    padding: 3px 5px !important;
    margin: 0px !important;
    line-height: 18px !important;
    background: #f5f5f500 !important;
    border: 1px solid #ddd !important;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07) !important;
    display: inline-block !important;
    color: #fff !important;
    text-align: center;
}

.qcld_woo_tabbed_wholessale_woo_wrap {

    width: 100%;
	display: flex !important;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.qcld_woo_tabbed_wholessale_woo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 15px;
}

.qcld_woo_tabbed_wholessale_woo img{
    width: 50%;
}
.qcld_woo_tabbed_wholessale_woo p:before {
    content: "" !important;
}

.qcld_woo_tabbed_wholessale_woo p a {
    color: #fff;
    border-color: #ff675b;
    background-color: #ff675b;
    font-size: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    font-weight: bold;
    line-height: 14px;
}
.qcld_woo_tabbed_wholessale_woo p a:hover {
    opacity: 0.8;
}

@media screen and (max-width: 650px) {

.qcld_woo_tabbed_wholessale_woo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.qcld_woo_tabbed_wholessale_woo img{
    width: 100%;
}

}


.qc_woo_free_admin_form {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    isolation: isolate;
    background: radial-gradient(1200px 600px at 80% -10%, #182038 0%, #0b0f17 55%);
    margin: 20px 20px 0 0;
    border-radius: 12px;
}

.qc_woo_free_admin {
    inset: 0;
    background: linear-gradient(rgba(255,255,255,.06) 1px, transparent 1px) 0 0 / 40px 40px, linear-gradient(90deg, rgba(255,255,255,.06) 1px, transparent 1px) 0 0 / 40px 40px;
	z-index: 99;
}
form.qc_woo_free_admin_form .b1 {
    width: 520px;
    height: 520px;
    left: -80px;
    top: -60px;
    background: radial-gradient(circle at 30% 30%, #5d93ff, transparent 60%), radial-gradient(circle at 70% 70%, #54e1c2, transparent 60%);
}
form.qc_woo_free_admin_form .blob {
    position: absolute;
    filter: blur(40px);
    opacity: .5;
    mix-blend: screen;
    animation: float 12s ease-in-out infinite;
	z-index: 0;
}
form.qc_woo_free_admin_form .b2 {
    width: 420px;
    height: 420px;
    right: 0px;
    bottom: 0px;
    background: radial-gradient(circle at 40% 40%, #b57bff, transparent 60%), radial-gradient(circle at 70% 70%, #7aa2ff, transparent 60%);
    animation-delay: -6s;
}

.qc_woo_free_admin_right {
    margin: 0 0;
    padding: 15px 15px;
    float: right;
    width: 29%;
    background: #fff;
    border-radius: 3px;
    inset: 0;
    background: linear-gradient(180deg, #141d309e, #0f15228c);
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
    padding: clamp(18px, 3vw, 28px);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border: 1px solid rgba(255, 255, 255, 0.06);
}

.qc_woo_free_admin input, .qc_woo_free_admin select {
    display: block;
    width: 100%;
    margin: 15px 0 0 0;
    padding: 8px 8px;
    box-shadow: inset 1px 1px 0 rgb(255 255 255 / 75%), inset 0 0 5px rgb(255 255 255 / 76%);
    background: rgb(255 255 255 / 30%);
    backdrop-filter: blur(0px);
    isolation: isolate;
    border-radius: 10px;
    padding: 8px 15px;
	    color: #fff;
}

form.qc_woo_free_admin_form .select2-container--default .select2-selection--multiple {
    border-radius: 4px;
    cursor: text;
    display: block;
    width: 100%;
    /* margin: 15px 0 0 0; */
    /* padding: 8px 8px; */
    box-shadow: inset 1px 1px 0 rgb(255 255 255 / 75%), inset 0 0 5px rgb(255 255 255 / 76%) !important;
    background: rgb(255 255 255 / 0%) !important;
    backdrop-filter: blur(0px) !important;
    isolation: isolate !important;
    border-radius: 10px !important;
    /* padding: 8px 15px; */
	    color: #fff;
}

form.qc_woo_free_admin_form .select2-container--default .select2-selection--multiple input.select2-search__field {
    width: 120px !important;
}

.qc_woo_free_admin input, .qc_woo_free_admin textarea {
    display: block;
    width: 100%;
    margin: 15px 0 0 0;
    padding: 8px 8px;
    box-shadow: inset 1px 1px 0 rgb(255 255 255 / 75%), inset 0 0 5px rgb(255 255 255 / 76%);
    background: rgb(255 255 255 / 0%);
    backdrop-filter: blur(0px);
    isolation: isolate;
    border-radius: 10px;
    padding: 8px 15px;
	    color: #fff;
}

.qcld_woo_tabbed_wholessale_woo img {
    width: 30%;
}

.qc_woo_free_admin div.updated {
    border-left-color: #ffffff;
}
.qc_woo_free_admin .notice{
    background: #ffffff00;
    border: 1px solid #c3c4c700;
    border-left-width: 4px;
    box-shadow: none;
    margin: 0 0 12px 0;
    padding: 1px 12px;
}

.qc_woo_free_admin .updated, .qc_woo_free_admin .notice {
    color: #ffffff;
}


.qc_woo_free_admin input.qcld-woo-shortcode-code.qcld-width {
    display: block;
    width: 100%;
    margin: 15px 0 0 0;
    padding: 8px 8px;
    box-shadow: inset 1px 1px 0 rgb(255 255 255 / 75%), inset 0 0 5px rgb(255 255 255 / 76%);
    background: rgb(255 255 255 / 0%);
    backdrop-filter: blur(0px);
    isolation: isolate;
    border-radius: 10px;
    padding: 8px 15px;
    color: #000000;
}

form.qc_woo_free_admin_form ul.radio-list.woo_menu_orders {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

form.qc_woo_free_admin_form ul.radio-list {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}


.qcld_wootbs_setting_divider {
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
    padding: 8px 15PX;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border: 1px solid rgba(255, 255, 255, 0.06);
    margin: 0 0 15px 0;
    background: linear-gradient(180deg, #141d309e, #0f15228c);
}

form.qc_woo_free_admin_form p.qcld_wootbs_title {
    font-size: 18px;
    color: #eee;
    margin: 0 0 8px 0;
    padding: 0;
}

.qc_woo_free_admin_right h2 {
    color: #fff;
}

.qc_woo_free_admin_right ul li{
	  color: #fff;
}
.qc_woo_free_admin_right.copy_right_box {
    color: #fff;
}

.qc_woo_free_admin_right {
    margin: 0 0 15px 0;
}

.qc_woo_free_admin input.submit-button {
    background: #18223c;
    box-shadow: none;
}

.qc_woo_free_admin_right a.upgrade_btn {
    background: #18223c;
    display: block;
    color: #fff;
    text-decoration: navajowhite;
    text-align: center;
font-weight: 600;
    padding: 12px 0;
    font-size: 16px;
    letter-spacing: 1px;
	    backdrop-filter: blur(0px);
    isolation: isolate;
    border-radius: 10px;
}


form.qc_woo_free_admin_form a.qcld_GetitNow {
    background: #f87da9;
    display: block;
    color: #000000;
    text-decoration: navajowhite;
    text-align: center;
    font-weight: bold;
    padding: 12px 30px;
    font-size: 18px;
    letter-spacing: 1px;
    backdrop-filter: blur(0px);
    isolation: isolate;
    border-radius: 10px;
}
.qc_woo_free_admin_right .blob.b1 {
    z-index: -1;
    filter: blur(40px);
    opacity: .2;
}
.qc_woo_free_admin div.updated {
    border-left-color: #ffffff;
    background: linear-gradient(180deg, #141d309e, #0f15228c);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.qc_woo_free_admin input[type="number"] {
    height: 45px;
}
.qc_woo_free_admin .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #F87DA9;
    border: 1px solid #F87DA9;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 8px;
    padding: 6px 5px;
}
.qc_woo_free_admin .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #ffffff;
}
.qc_woo_free_admin [type="radio"]:checked,
.qc_woo_free_admin [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.qc_woo_free_admin [type="radio"]:checked + label,
.qc_woo_free_admin [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
}
.qc_woo_free_admin [type="radio"]:checked + label:before,
.qc_woo_free_admin [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff;
}
.qc_woo_free_admin [type="radio"]:checked + label:after,
.qc_woo_free_admin [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 3px;
    left: 3px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.qc_woo_free_admin [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.qc_woo_free_admin [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


@media screen and (max-width: 992px) {
.qc_woo_free_admin_left {
    width: 100%;
    float: none;
}
.qc_woo_free_admin_right {
    width: 100%;
    float: none;
    padding: 15px 0;
   margin: 0;
   margin-top: 20px;
}
}